{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>
  Привет! Я написал эту штуку благодаря методичкам от 
  {% comment %} <a href="https://ya.ru"> {% endcomment %}
  <font style="color:red">Я</font>ндекс.
</h1>
<p>
  Мне сказали, что здесь было бы неплохо разместить какую-то информацию о себе, 
  используя свои умения верстать. Картинки, блоки, элементы бустрап.
<p>
  Но я не придумал ничего, поэтому оставлю просто ссылку на свой 
  <a href="https://github.com/sergeypatrakov">
  GitHub</a>.
</p>
</p>
{% endblock %}